@import url('https://fonts.googleapis.com/css?family=Pacifico');

body{
    background-color: #c9ffd5
}
.content{
    width: 1230px;
    margin: auto
}
.item{
    width: 400px;
    margin: 5px;
    float: left;
    background-color: #fff
}
.image{
    width: 35%;
    float: left;
}
.image img{
    width: 100%;
    padding:20px 0 
}
.info{
    width: 65%;
    float: left;
    /* padding-left: 10px */
}
.info .name{
    font-size: 25px;
    padding-top: 20px;
}
.info .name , .info p{
    padding-left: 15px
}
.item>.name{
    color: blue;
}
.price, .item>.name{
    font-size: 25px;
    font-weight: bold;
    padding-left: 20px;
    font-family: 'Pacifico', cursive;
}

.price{
    padding-top:10px ;
    padding-bottom: 10px
}
.promotion{
    color: red
}
.item>.name:hover{
    color: blueviolet;
    cursor: pointer;
}
/* https://fontawesome.com/icons */

@media (max-width:1220px){
    .content{
        width: 1200px;
    }
    .item{
        width: calc(100% / 3 - 10px);
    }
}

@media (min-width:550px) and (max-width:700px){
    .content{
        width: 530px;
    }
    .item{
        width: calc(100% / 2 - 10px);
    }
}
@media (min-width:701px) and (max-width:1119px){
    .content{
        width: 690px;
    }
    /* .item{
        width: calc(100% / 3 - 10px);
    } */
}


@media (max-width:550px){
    .info{
        display: none
    }
}